.button {
    background-color: var(--color-primary);
    color: var(--color-black);
    width: fit-content;
    padding: 8px 16px;
    border-radius: 9999px;

    font-family: var(--font-secondary);
    font-size: var(--font-size-btn);
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    gap: 8px;
    align-items: center;

    .icon {
        width: 24px;
        height: 24px;
    }
}
