.button {
    background-color: var(--color-primary);
    color: var(--color-black);
    width: fit-content;
    padding: 8px 16px;
    border-radius: 9999px;

    font-family: var(--font-secondary);
    font-size: var(--font-size-btn);
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    gap: 8px;
    align-items: center;

    .icon {
        width: 24px;
        height: 24px;
    }

    &:hover {
        background-color: var(--color-white);
        text-decoration: none;
        color: var(--color-black);
    }
}

.button.inverted {
    background-color: var(--color-white);

    &:hover {
        background-color: var(--color-black);
        color: var(--color-white);
    }
}

.icon-button {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.55);
    &:hover {
        color: rgba(255, 255, 255, 1);
    }
}
