.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media (width < $breakpoint-sm) {
        gap: 100px;
    }

    .card:nth-child(2n) .card__content {
        order: -1;
        @media (width < $breakpoint-sm) {
            order: 0;
        }
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 490px;
    gap: 32px;
    @media (width < $breakpoint-sm) {
        grid-template-columns: 1fr;
        height: fit-content;
    }
}

.card__media {
    width: 100%;
    height: 100%;
    max-height: 490px;
    @media (width < $breakpoint-sm) {
        max-height: 346px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        border-radius: 16px;
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        margin: 0;
        font-size: #{typo(16px)};
        text-transform: uppercase;
    }

    .large {
        font-size: #{typo(24px, 32px)};
        margin: 16px 0 24px;
        color: rgba(255, 255, 255, 0.55);

        span {
            color: var(--color-white);
            font-weight: 600;
        }
    }

    .category {
        font-size: #{typo(18px)};
        margin: 0 0 32px;
        text-transform: uppercase;
    }
}

.alt .card__content {
    .large {
        color: var(--color-black);
        span {
            color: var(--color-black);
            font-weight: 600;
        }
    }
}
