.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .card:nth-child(2n) .card__content {
        order: -1;
    }
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 490px;
    gap: 32px;
}

.card__media {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        margin: 0;
        font-size: #{typo(16px)};
        text-transform: uppercase;
    }

    p {
        color: rgba(255, 255, 255, 0.55);
    }

    .large {
        font-size: #{typo(32px, 24px)};
        font-weight: 300;
        margin: 16px 0 24px;

        span {
            color: var(--color-white);
            font-weight: 600;
        }
    }

    .category {
        font-size: #{typo(18px)};
        margin: 0 0 32px;
        text-transform: uppercase;
    }
}
