.footer {
    background-color: var(--color-black);
    color: var(--color-white);

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 40px 0;
    }

    .icons {
        display: flex;
        gap: 56px;
        .icon {
            font-size: 3rem;
            color: rgba(255, 255, 255, 0.55);
        }
    }

    p {
        font-size: #{typo(18px)};
        span {
            font-weight: 700;
            color: var(--color-white);
        }
    }

    h2 {
        font-size: #{typo(56px)};
        span {
            font-weight: 600;
            color: var(--color-white);
        }
    }
}
