.header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
    }

    .logo {
        color: var(--color-white);
        font-family: var(--font-secondary);
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            text-decoration: none;
            color: var(--color-primary);
        }
    }
}
