.hero {
    position: relative;
    height: 80vh;
    @media (width <= $breakpoint-md) {
        height: 450px;
        padding: 60px 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
    }
}

.hero__media {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero__content {
    max-width: min(633px, 70%);
}
