.hero {
    position: relative;
    height: 80vh;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
    }
}

.hero__media {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero__content {
    max-width: 633px;
}
