/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Work Sans', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;

    --font-size-content: #{typo(16px, 18px)};
    --font-size-btn: #{typo(16px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(40px, 80px)};
    --font-size-h2: #{typo(30px, 40px)};
    --font-size-h3: #{typo(25px, 40px)};
    --font-size-h4: #{typo(20px, 30px)};
}
