{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/20250912_160919.jpg" alt="" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>

<section class="laboratoires section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/20250912_160919.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>Sem 01 - Révision</h3>
                    <p class="large">
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="category">HTML + CSS</p>
                    <a href="#" class="button">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/20250912_160919.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>Sem 02 - Timtools</h3>
                    <p class="large">
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="category">SCSS</p>
                    <a href="#" class="button">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/20250912_160919.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>Sem 03 - Portfolio Louisa Joy</h3>
                    <p class="large">
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="category">HTML + SCSS</p>
                    <a href="#" class="button">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/20250912_160919.jpg" alt="" />
                </div>
                <div class="card__content">
                    <h3>Sem 04 - Icônes et classes JS</h3>
                    <p class="large">
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="category">SCSS + Javascript</p>
                    <a href="#" class="button">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="reactive section">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires réactifs</span>
        </h2>

        <div class="swiper swiper-js">
            <div class="swiper-wrapper">
                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/20250912_160919.jpg" alt="" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 04 - Icônes et classes JS</h3>
                        <p class="large">
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="category">SCSS + Javascript</p>
                        <a href="#" class="button">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/20250912_160919.jpg" alt="" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 04 - Icônes et classes JS</h3>
                        <p class="large">
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="category">SCSS + Javascript</p>
                        <a href="#" class="button">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card__media">
                        <img src="assets/images/20250912_160919.jpg" alt="" />
                    </div>
                    <div class="card__content">
                        <h3>Sem 04 - Icônes et classes JS</h3>
                        <p class="large">
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="category">SCSS + Javascript</p>
                        <a href="#" class="button">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
