{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/20250912_160919.jpg" alt="" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>

<section class="laboratoires section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <a href="/cours/cw3/sem01/" target="_blank" class="card__media">
                    <img src="assets/images/labo-01.png" alt="" />
                </a>
                <div class="card__content">
                    <h3>Sem 01 - Révision</h3>
                    <p class="large">
                        Nous avons revu les bases du HTML et du CSS.
                        <span>L’objectif était de consolider nos apprentissages essentiels.</span>
                    </p>
                    <p class="category">HTML + CSS</p>
                    <a href="/cours/cw3/sem01/" target="_blank" class="button">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <a href="/cours/cw3/sem02/" target="_blank" class="card__media">
                    <img src="assets/images/labo-02.png" alt="" />
                </a>
                <div class="card__content">
                    <h3>Sem 02 - Timtools</h3>
                    <p class="large">
                        Introduction au stack de développement Timtools.
                        <span>Création d'un premier site en SCSS.</span>
                    </p>
                    <p class="category">SCSS</p>
                    <a href="/cours/cw3/sem02/" target="_blank" class="button">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <a href="/cours/cw3/sem03/" target="_blank" class="card__media">
                    <img src="assets/images/labo-03.png" alt="" />
                </a>
                <div class="card__content">
                    <h3>Sem 03 - Portfolio Louisa Joy</h3>
                    <p class="large">
                        Nous avons recréé le portfolio de Louisa Joy.
                        <span>L’exercice visait à maîtriser la structure et pratiquer le SCSS.</span>
                    </p>
                    <p class="category">HTML + SCSS</p>
                    <a href="/cours/cw3/sem03/" target="_blank" class="button">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <a href="/cours/cw3/sem04/" target="_blank" class="card__media">
                    <img src="assets/images/labo-04.png" alt="" />
                </a>
                <div class="card__content">
                    <h3>Sem 04 - Icônes et classes JS</h3>
                    <p class="large">
                        Nous avons ajouté des icônes et révisé le Javascript.
                        <span>Nous avons utilisé le stack pour faciliter l'intégration d'icônes.</span>
                    </p>
                    <p class="category">SCSS + Javascript</p>
                    <a href="/cours/cw3/sem04/" target="_blank" class="button">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="reactive section alt">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires réactifs</span>
        </h2>

        <div class="swiper js-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide card">
                    <a href="/cours/cw3/sem07/" target="_blank" class="card__media">
                        <img src="assets/images/labo-07.png" alt="" />
                    </a>
                    <div class="card__content">
                        <h3>Sem 07 - Introduction réactif</h3>
                        <p class="large">
                            Nous avons appris les bases du design réactif.
                            <span>Nous avons aussi appris la programmation orientée objet.</span>
                        </p>
                        <p class="category">SCSS + Javascript</p>
                        <a href="/cours/cw3/sem07/" target="_blank" class="button inverted">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <a href="/cours/cw3/sem08/" target="_blank" class="card__media">
                        <img src="assets/images/labo-08.png" alt="" />
                    </a>
                    <div class="card__content">
                        <h3>Sem 08 - Site réactif</h3>
                        <p class="large">
                            Nous avons conçu un site entièrement réactif.
                            <span>Le site s'adapte aux écrans desktop et mobiles grâce aux media queries.</span>
                        </p>
                        <p class="category">HTML + SCSS + Javascript</p>
                        <a href="/cours/cw3/sem08/" target="_blank" class="button inverted">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <a href="/cours/cw3/sem09/" target="_blank" class="card__media">
                        <img src="assets/images/labo-09.png" alt="" />
                    </a>
                    <div class="card__content">
                        <h3>Sem 09 - Exercices Javascript</h3>
                        <p class="large">
                            Nous avons fait plusieurs petits défis en JavaScript.
                            <span>Ils développaient notre logique et nos réflexes de code.</span>
                        </p>
                        <p class="category">SCSS + Javascript</p>
                        <a href="/cours/cw3/sem09/" target="_blank" class="button inverted">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
